* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.subsection_area, #main_text_area, .active_response_area, #phases_area, #instruction_area, #instruction_area_big {
    vertical-align: top;
    margin-top: 20px;
    border: 2px solid black;
    padding: 20px;
    background-color: #fff;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;
}

#main_text_area {
    width: 1220px;
    min-height: 450px;
    font-size: 1.1em;
    text-align: justify;
    border: none;
    background-color: transparent;
}

.subsection_area {
    /* weird hotfix */
    margin-left: -20px;
    margin-right: 0;
    width: 100%
}

#local_response_template, #global_response_template {
    display: none;
    visibility: none;
}

.check_hint {
    font-size: small;
}

#main_text_area iframe {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    margin-top: -20px;
}

.active_response_area {
    border-style: dashed;
    width: 95%;
    background-color: #ddebdb;
    padding: 20px;
    text-align: left;
}

.active_response_area img {
    vertical-align: top;
    max-width: 40%;
    margin-left: 5px;
    margin-right: 5px;
    /* some images are transparent */
    background-color: white;
}

a {
    color: black;
    font-weight: bold;
}

.active_response_area div {
    vertical-align: top;
    max-width: 58%;
    /* display: inline-block; */
    float: right;
}

.active_response_area_global div {
    width: 100%;
    max-width: 100%;
}

.active_response_area div input {
    display: inline-block;
    font-size: 0.8em;
    margin-top: 2px;
}

.active_response_area div input[type=button] {
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    width: 130px;
}

.local_questions, .global_questions { 
    width: 100%;
    max-width: 100% !important;
    padding: 5px
}

.global_questions { 
    background-color: #dbda9b;
}

.local_questions { 
    background-color: #b1ab74;
    margin-bottom: 5px;
    padding-bottom: -5px;
}

.instructions_next_button {
    width: 120px;
    margin-top: 10px;
}

.active_response_area div input[multiplechoice] {
    width: 150px;
}

.active_response_area div input[responseselect] {
    background-color: #7c857c;
}

.active_response_area div input[type=button]:hover:not(:disabled) {
    background-color: #bbb;
    cursor: pointer;
}

.active_response_area div input[type=button]:active:not(:disabled) {
    border: 2px solid gray;
    cursor: pointer;
}

#instruction_area { 
    width: 1000px;
    text-align: left;
}

#instruction_area_big { 
    width: 1220px;
    text-align: left;
}

#phases_area {
    text-align: left;
    width: 150px;
    line-height: 1.8em;
    vertical-align: bottom;
}

#but_next, #but_prev {
    width: 145px;
    height: 40px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.hi_input_val {
    margin-left: 150px;
}
.hi_input_label {
    margin-left: 20px;
    vertical-align: top;
}